---

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Novus-me</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: "Poppins", sans-serif;
      }
    </style>
  </head>

  <body class="bg-novus-dark-green text-gray-900">
    <!-- Navbar [START]-->
    <header class="fixed w-screen top-0 left-0 z-50">
      <div class="bg-novus-teal text-white">
        <div class="container mx-auto py-3 px-4 md:px-16">
          <p
            class="flex items-center justify-end text-base font-semibold hover:cursor-pointer"
          >
            <svg
              class="border-white border border-s-4 rounded-lg mr-2"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              width="22"
              height="22"
              color="#FFFFFF"
              fill="none"
            >
              <path
                d="M9.00005 6C9.00005 6 15 10.4189 15 12C15 13.5812 9 18 9 18"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
            CUSTOMER SUPPORT
          </p>
        </div>
      </div>

      <div class="bg-novus-dark-green/60 backdrop-blur-sm text-white">
        <div
          class="container mx-auto flex justify-between items-center py-5 px-4 md:px-16"
        >
          <!-- Logo -->
          <div class="">
            <a href="#" class="text-3xl font-bold"> NOVUS-ME </a>
          </div>

          <!-- Navigation Links -->
          <nav class="hidden md:flex ml-6 space-x-9 items-center">
            <a href="/" class="hover:underline text-lg font-semibold">Home</a>
            <!-- <a href="#" class="hover:underline text-lg font-semibold"
              >Services & Solutions</a
            > -->

            <!-- Services & Solutions Dropdown -->
            <div class="relative group">
              <a href="#" class="hover:underline text-lg font-semibold inline-block">
                Services & Solutions
              </a>
              <div
                class="absolute left-1/2 mt-4 w-[700px] bg-white rounded-lg shadow-lg transform -translate-x-1/2 -translate-y-3 transition-all duration-300 ease-in-out opacity-0 group-hover:opacity-100 group-hover:translate-y-0 group-hover:flex z-50 p-8"
              >
              <div class="w-full flex justify-between space-x-4">
                <!-- Services Section -->
                <div class="flex flex-col w-1/2">
                  <div class="mb-2">
                    <p class="text-xl font-semibold text-novus-teal">Hybrid Infrastructure</p>
                    <p class="text-novus-gray text-lg">Evolve your data centre and cloud</p>
                  </div>
                  <div class="mb-2">
                    <p class="text-xl font-semibold text-novus-teal">Digital Workspace</p>
                    <p class="text-novus-gray text-lg">Create your future workspace</p>
                  </div>
                </div>
              
                <!-- Solutions Section -->
                <div class="flex flex-col w-1/2">
                  <div class="mb-2">
                    <p class="text-xl font-semibold text-novus-teal">IT Services</p>
                    <p class="text-novus-gray text-lg">Evolve your data centre and cloud</p>
                  </div>
                  <div class="mb-2">
                    <p class="text-xl font-semibold text-novus-teal">Multinational Services</p>
                    <p class="text-novus-gray text-lg">Delivering products and services to your international locations</p>
                  </div>
                </div>
              </div>
              
              </div>
            </div>

            
            


            <a href="#" class="hover:underline text-lg font-semibold"
              >Partners</a
            >
            <div class="relative group">
              <a href="#" class="hover:underline text-lg font-semibold inline-block">
                About
              </a>
              <div
                class="absolute left-1/2 mt-4 w-[300px] bg-white rounded-lg shadow-lg transform -translate-x-1/2 -translate-y-3 transition-all duration-300 ease-in-out opacity-0 group-hover:opacity-100 group-hover:translate-y-0 group-hover:flex flex-col z-50 p-8"
              >
                <p class="text-xl font-semibold text-novus-teal mb-4">Social Responsibility</p>
                <p class="text-xl font-semibold text-novus-teal">Careers</p>
              </div>
            </div>
            
            <a
              href="#"
              class="hover:underline text-lg px-6 py-3 rounded-full bg-white font-semibold text-[#044041]"
              >Contact Sales</a
            >
          </nav>

          <!-- Menu Icon [ mobile-view ]-->
          <div class="block md:hidden lg:hidden xl:hidden 2xl:hidden">
            <button class="relative group">
              <div
                class="relative flex overflow-hidden items-center justify-center rounded-full w-[50px] h-[50px] transform transition-all ring-0 ring-gray-300 hover:ring-8 group-focus:ring-4 ring-opacity-30 duration-200 shadow-md"
              >
                <div
                  class="flex flex-col justify-between w-[20px] h-[20px] transform transition-all duration-300 origin-center overflow-hidden"
                >
                  <div
                    class="bg-white h-[2px] w-7 transform transition-all duration-300 origin-left group-focus:rotate-[42deg]"
                  >
                  </div>
                  <div
                    class="bg-white h-[2px] w-1/2 rounded transform transition-all duration-300 group-focus:-translate-x-10"
                  >
                  </div>
                  <div
                    class="bg-white h-[2px] w-7 transform transition-all duration-300 origin-left group-focus:-rotate-[42deg]"
                  >
                  </div>
                </div>
              </div>
            </button>
          </div>
        </div>
      </div>
    </header>

    <!-- Navbar [END]-->

    <section class="h-full bg-white mt-[138px] relative">
        <!-- Wave-like Background -->
        <div class="absolute inset-0 overflow-hidden">
            <svg class="absolute bottom-0 w-full h-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#21B685" fill-opacity="1" d="M0,224L48,192C96,160,192,96,288,96C384,96,480,160,576,160C672,160,768,96,864,85.3C960,75,1056,117,1152,138.7C1248,160,1344,160,1392,160L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
        </div>
    
        <div class="container mx-auto flex flex-col gap-5 lg:flex-row py-20 px-4 md:px-16 relative z-10">
            <!-- Contact Sales Card -->
            <div class="mt-5 lg:mt-0">
                <div class="bg-novus-dark-green text-white p-10 w-full mb-8 lg:mb-0">
                    <h1 class="text-3xl font-bold mb-4">Contact Sales</h1>
                    <p class="mb-6 text-lg">
                        Complete the form and we'll be in touch. Or call us at:
                    </p>
                    <p class="text-2xl font-bold mb-6">+966557179691</p>
                    <p>Available Saturday — Thursday 8:30 am to 5:30 pm (GMT)</p>
                </div>
            </div>
    
            <!-- Form Section -->
            <div class="lg:w-3/4 lg:ml-10">
                <form class="w-full bg-gray-100 p-8 rounded-sm shadow-lg">
                    <div class="mb-6">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="name">Name</label>
                        <input
                            class="shadow appearance-none border rounded w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            id="name" type="text" placeholder="Your Name" />
                    </div>
                    <div class="mb-6">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Email</label>
                        <input
                            class="shadow appearance-none border rounded w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            id="email" type="email" placeholder="Your Email" />
                    </div>
                    <div class="mb-6">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="phone">Phone</label>
                        <input
                            class="shadow appearance-none border rounded w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            id="phone" type="tel" placeholder="Your Phone Number" />
                    </div>
                    <div class="mb-6">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="message">Message</label>
                        <textarea
                            class="shadow appearance-none border rounded w-full py-3 px-4 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            id="message" rows="4" placeholder="Your Message"></textarea>
                    </div>
                    <div class="flex items-center justify-between">
                        <button
                            class="bg-teal-800 hover:bg-teal-900 text-white font-bold py-3 px-6 rounded focus:outline-none focus:shadow-outline"
                            type="button">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
      
    
    

   

    <footer>
      <div class="bg-white">
        <div class="container mx-auto px-4 md:px-36 py-16">
          <div class="grid grid-cols-1 md:grid-cols-3 gap-3">
            <div>
              <h3 class="text-teal-600 font-semibold mb-4">Solutions</h3>
              <ul class="space-y-2">
                <li>
                  <a href="#" class="text-gray-700 text-sm font-semibold"
                    >Hybrid Infrastructure</a>
                </li>
                <li>
                  <a href="#" class="text-gray-700 text-sm font-semibold"
                    >Cyber Security</a>
                </li>
                <li>
                  <a href="#" class="text-gray-700 text-sm font-semibold"
                    >Digital Workspace</a>
                </li>
                <li>
                  <a href="#" class="text-gray-700 text-sm font-semibold"
                    >IT Intelligence</a>
                </li>
              </ul>
            </div>
            <div>
              <h3 class="text-teal-600 font-semibold mb-4 invisible">
                nothing
              </h3>
              <ul class="space-y-2">
                <li>
                  <a href="#" class="text-gray-700 text-sm font-semibold"
                    >Enterprise</a>
                </li>
                <li>
                  <a href="#" class="text-gray-700 text-sm font-semibold"
                    >Public Sector</a>
                </li>
                <li>
                  <a href="#" class="text-gray-700 text-sm font-semibold"
                    >Small to Medium Businesses</a>
                </li>
                <li>
                  <a href="#" class="text-gray-700 text-sm font-semibold"
                    >Multinational Services</a>
                </li>
              </ul>
            </div>
            <div>
              <h3 class="text-teal-600 font-semibold mb-4">About</h3>
              <ul class="space-y-2">
                <li>
                  <a href="#" class="text-gray-700 text-sm font-semibold"
                    >Press & Media</a>
                </li>
                <li>
                  <a href="#" class="text-gray-700 text-sm font-semibold"
                    >Investor Centre</a>
                </li>
                <li>
                  <a href="#" class="text-gray-700 text-sm font-semibold"
                    >Social Responsibility</a>
                </li>
                <li>
                  <a href="#" class="text-gray-700 text-sm font-semibold"
                    >Careers</a>
                </li>
                <li>
                  <a href="#" class="text-gray-700 text-sm font-semibold"
                    >Our People</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="flex justify-center md:justify-end mt-8 space-x-4">
            <a href="#" class="text-teal-600"
              ><i class="fab fa-twitter fa-lg"></i></a
            >
            <a href="#" class="text-teal-600"
              ><i class="fab fa-facebook-f fa-lg"></i></a
            >
            <a href="#" class="text-teal-600"
              ><i class="fab fa-youtube fa-lg"></i></a
            >
            <a href="#" class="text-teal-600"
              ><i class="fab fa-instagram fa-lg"></i></a
            >
          </div>
        </div>
      </div>

      <div class="">
        <div class="container mx-auto"></div>
      </div>
      <div class="bg-gray-200">
        <div
          class="container mx-auto flex flex-col md:flex-row justify-center px-4 md:px-16 py-6 space-x-6"
        >
          <a href="" class="font-semibold text-sm">General Terms & Policies</a>
          <a href="" class="font-semibold text-sm">Corporate Responsibility</a>
          <a href="" class="font-semibold text-sm">Modern Slavery Statement</a>
          <a href="" class="font-semibold text-sm">Privacy Policy</a>
          <a href="" class="font-semibold text-sm">Website Terms of Use</a>
          <a href="" class="font-semibold text-sm">Sitemap</a>
        </div>
      </div>
      <div
        class="container mx-auto bg-novus-dark-green flex justify-center px-4 md:px-16 py-7"
      >
        <p class="text-white">© Copyright Novus-me</p>
      </div>
    </footer>

    <!-- Whatsapp icon -->
    <div class="fixed bottom-4 left-4 group">
      <a href="#" class="relative">
        <img src="/whatsapp.svg" alt="Icon" class="h-[50px] w-[50px]" />

        <!-- Ping effect on the top-right corner of the SVG -->
        <span
          class="absolute top-2 right-0 translate-x-1/2 -translate-y-1/2 flex h-3 w-3"
        >
          <span
            class="animate-ping absolute inline-flex h-full w-full rounded-full bg-sky-400 opacity-75"
          ></span>
          <span class="relative inline-flex rounded-full h-3 w-3 bg-sky-500"
          ></span>
        </span>

        <span
          class="absolute top-1/2 left-[calc(100%+0.5rem)] transform -translate-y-1/2 px-[14px] py-[3px] text-white text-[14px] bg-[#51E863] rounded-xl opacity-0 group-hover:opacity-100 transition-opacity duration-300 whitespace-nowrap"
        >
          WhatsApp Us
        </span>
      </a>
    </div>
  </body>
</html>
