---

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Novus-me</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: "Poppins", sans-serif;
      }
    </style>
  </head>

  <body class="bg-novus-dark-green text-gray-900">
    <!-- Navbar [START]-->
    <header class="fixed w-screen top-0 left-0 z-50">
      <div class="bg-novus-teal text-white">
        <div class="container mx-auto py-3 px-4 md:px-16">
          <p
            class="flex items-center justify-end text-base font-semibold hover:cursor-pointer"
          >
            <svg
              class="border-white border border-s-4 rounded-lg mr-2"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              width="22"
              height="22"
              color="#FFFFFF"
              fill="none"
            >
              <path
                d="M9.00005 6C9.00005 6 15 10.4189 15 12C15 13.5812 9 18 9 18"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
            CUSTOMER SUPPORT
          </p>
        </div>
      </div>

      <div class="bg-novus-dark-green/60 backdrop-blur-sm text-white">
        <div
          class="container mx-auto flex justify-between items-center py-5 px-4 md:px-16"
        >
          <!-- Logo -->
          <div class="">
            <a href="#" class="text-3xl font-bold"> NOVUS-ME </a>
          </div>

          <!-- Navigation Links -->
          <nav class="hidden md:flex ml-6 space-x-9 items-center">
            <a href="#" class="hover:underline text-lg font-semibold">Home</a>
            <a href="#" class="hover:underline text-lg font-semibold"
              >Services & Solutions</a
            >
            <a href="#" class="hover:underline text-lg font-semibold"
              >Partners</a
            >
            <a href="#" class="hover:underline text-lg font-semibold">About</a>
            <a
              href="#"
              class="hover:underline text-lg px-6 py-3 rounded-full bg-white font-semibold text-[#044041]"
              >Contact Sales</a
            >
          </nav>

          <!-- Menu Icon [ mobile-view ]-->
          <div class="block md:hidden lg:hidden xl:hidden 2xl:hidden">
            <button class="relative group">
              <div
                class="relative flex overflow-hidden items-center justify-center rounded-full w-[50px] h-[50px] transform transition-all ring-0 ring-gray-300 hover:ring-8 group-focus:ring-4 ring-opacity-30 duration-200 shadow-md"
              >
                <div
                  class="flex flex-col justify-between w-[20px] h-[20px] transform transition-all duration-300 origin-center overflow-hidden"
                >
                  <div
                    class="bg-white h-[2px] w-7 transform transition-all duration-300 origin-left group-focus:rotate-[42deg]"
                  >
                  </div>
                  <div
                    class="bg-white h-[2px] w-1/2 rounded transform transition-all duration-300 group-focus:-translate-x-10"
                  >
                  </div>
                  <div
                    class="bg-white h-[2px] w-7 transform transition-all duration-300 origin-left group-focus:-rotate-[42deg]"
                  >
                  </div>
                </div>
              </div>
            </button>
          </div>
        </div>
      </div>
    </header>

    <!-- Navbar [END]-->

    <!-- <section class="pt-[calc(4rem+80px)] w-screen ">


	  </section> -->

    <section class="h-full bg-novus-teal mt-[138px]">
      <div
        class="container mx-auto flex flex-col gap-5 lg:flex-row py-20 px-4 md:px-16"
      >
        <div class="text-white lg:w-1/2">
          <h1 class="text-4xl max-w-lg font-bold tracking-wide sm:text-5xl">
            We are a leading provider of IT solutions and services
          </h1>
          <p class="mt-7 max-w-lg text-lg">
            People, partnership and passion are at the heart of our success and
            drive everything we do
          </p>
          <button
            class="mt-8 px-16 py-7 bg-teal-500 hover:bg-teal-500 text-xl text-novus-gray font-semibold rounded-full"
            >CONTACT SALES</button
          >
        </div>

        <div class="mt-5 lg:mt-0">
          <img src="https://placehold.co/600x400" alt="" class="lg:ml-auto" />
        </div>
      </div>
    </section>

    <!-- Why Novus section -->
    <section class="bg-slate-50">
      <div class="container mx-auto flex justify-center py-24 px-4 md:px-16">
        <div class="text-center max-w-[60rem] px-2 py-2">
          <h4 class="text-novus-light-green text-xl font-semibold">
            Why Novus-me
          </h4>
          <h2
            class="text-novus-teal text-3xl md:text-4xl font-bold mt-7 leading-relaxed"
          >
            We provide bespoke, innovative end-to-end technology solutions that
            help your business and organisation to succeed.
          </h2>
        </div>
      </div>

      <div
        class="container mx-auto lg:flex lg:items-center lg:space-x-4 mt-9 px-4 md:px-16"
      >
        <!-- Image Section -->
        <div class="lg:w-[47%]">
          <img
            src="/customer-first.png"
            alt="customer-first-image"
            class="w-full"
          />
        </div>

        <!-- Text Section -->
        <div class="mt-8 lg:mt-0 lg:w-1/2 flex flex-col items-center">
          <div>
            <h2 class="text-teal-600 text-4xl font-semibold">Customer-first</h2>
            <p class="mt-9 text-novus-gray text-xl max-w-lg leading-relaxed">
              We pride ourselves on building and maintaining close relationships
              for the long term with our customers. This dedication runs
              throughout every aspect of our organisation and our success is
              proven by our 97% customer satisfaction survey score.
            </p>

            <a
              href="#"
              class="flex items-center text-base mt-9 text-novus-gray font-normal"
            >
              <svg
                class="border-novus-light-green border border-s-4 rounded-lg mr-2"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                width="22"
                height="22"
                color="#21B685"
                fill="none"
              >
                <path
                  d="M9.00005 6C9.00005 6 15 10.4189 15 12C15 13.5812 9 18 9 18"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
              MORE ABOUT OUR PHILOSOPHY
            </a>
          </div>
        </div>
      </div>

      <div
        class="container mx-auto lg:flex lg:items-center lg:space-x-4 mt-6 px-4 md:px-16"
      >
        <!-- Text Section -->
        <div class="mt-8 lg:mt-0 lg:w-1/2 flex flex-col items-center">
          <div>
            <h2 class="text-teal-600 text-4xl font-semibold">
              World class partnerships
            </h2>
            <p class="mt-9 text-novus-gray text-xl max-w-lg leading-relaxed">
              We partner with over 50 of the best vendors from across the globe
              to provide our customers with the best solution to meet their
              needs.
            </p>

            <a
              href="#"
              class="flex items-center text-base mt-9 text-novus-gray font-normal"
            >
              <svg
                class="border-novus-light-green border border-s-4 rounded-lg mr-2"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                width="22"
                height="22"
                color="#21B685"
                fill="none"
              >
                <path
                  d="M9.00005 6C9.00005 6 15 10.4189 15 12C15 13.5812 9 18 9 18"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
              MORE ABOUT OUR PARTNERS
            </a>
          </div>
        </div>

        <!-- Image Section -->
        <div class="lg:w-[46%]">
          <img
            src="/world-class-partnership.png"
            alt="customer-first-image"
            class="w-full"
          />
        </div>
      </div>

      <div
        class="container mx-auto lg:flex lg:items-center lg:space-x-4 mt-6 px-4 md:px-16"
      >
        <!-- Image Section -->
        <div class="lg:w-[47%]">
          <img
            src="/single-point-of-purchase.png"
            alt="customer-first-image"
            class="w-full"
          />
        </div>

        <!-- Text Section -->
        <div class="mt-8 lg:mt-0 lg:w-1/2 flex flex-col items-center">
          <div>
            <h2 class="text-teal-600 text-4xl font-semibold">
              Single point of purchase
            </h2>
            <p class="mt-9 text-novus-gray text-xl max-w-lg leading-relaxed">
              Our extensive partnership network means we’re able to provide our
              customers with end to end solutions and tailored packages with
              ease, through a single point of purchase.
            </p>

            <a
              href="#"
              class="flex items-center text-base mt-9 text-novus-gray font-normal"
            >
              <svg
                class="border-novus-light-green border border-s-4 rounded-lg mr-2"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                width="22"
                height="22"
                color="#21B685"
                fill="none"
              >
                <path
                  d="M9.00005 6C9.00005 6 15 10.4189 15 12C15 13.5812 9 18 9 18"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </svg>
              MORE ABOUT OUR SOLUTIONS AND SERVICES
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-white">
      <div class="container max-w-[90rem] mx-auto">
        <div
          class="relative bg-novus-teal text-white rounded-br-full"
          style="height: 300px;"
        >
          <div
            class="absolute top-0 left-0 w-1/3 h-1/3 bg-novus-light-green rounded-br-full"
          >
          </div>

          <div
            class="max-w-7xl mx-auto px-6 py-12 flex justify-between items-center h-full"
          >
            <div class="w-full md:w-2/3 lg:w-1/2">
              <h2 class="text-xl md:text-3xl lg:text-4xl font-semibold">
                Find out how you can empower your organisation with Novus-Me
              </h2>
            </div>
            <div class="w-auto">
              <button
                class="border border-white text-white rounded-full px-6 py-2 text-sm md:text-base"
              >
                CONTACT SALES
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer>
      <div class="bg-white">
        <div class="container mx-auto px-4 md:px-36 py-16">
          <div class="grid grid-cols-1 md:grid-cols-3 gap-3">
            <div>
              <h3 class="text-teal-600 font-semibold mb-4">Solutions</h3>
              <ul class="space-y-2">
                <li>
                  <a href="#" class="text-gray-700 text-sm font-semibold"
                    >Hybrid Infrastructure</a>
                </li>
                <li>
                  <a href="#" class="text-gray-700 text-sm font-semibold"
                    >Cyber Security</a>
                </li>
                <li>
                  <a href="#" class="text-gray-700 text-sm font-semibold"
                    >Digital Workspace</a>
                </li>
                <li>
                  <a href="#" class="text-gray-700 text-sm font-semibold"
                    >IT Intelligence</a>
                </li>
              </ul>
            </div>
            <div>
              <h3 class="text-teal-600 font-semibold mb-4 invisible">
                nothing
              </h3>
              <ul class="space-y-2">
                <li>
                  <a href="#" class="text-gray-700 text-sm font-semibold"
                    >Enterprise</a>
                </li>
                <li>
                  <a href="#" class="text-gray-700 text-sm font-semibold"
                    >Public Sector</a>
                </li>
                <li>
                  <a href="#" class="text-gray-700 text-sm font-semibold"
                    >Small to Medium Businesses</a>
                </li>
                <li>
                  <a href="#" class="text-gray-700 text-sm font-semibold"
                    >Multinational Services</a>
                </li>
              </ul>
            </div>
            <div>
              <h3 class="text-teal-600 font-semibold mb-4">About</h3>
              <ul class="space-y-2">
                <li>
                  <a href="#" class="text-gray-700 text-sm font-semibold"
                    >Press & Media</a>
                </li>
                <li>
                  <a href="#" class="text-gray-700 text-sm font-semibold"
                    >Investor Centre</a>
                </li>
                <li>
                  <a href="#" class="text-gray-700 text-sm font-semibold"
                    >Social Responsibility</a>
                </li>
                <li>
                  <a href="#" class="text-gray-700 text-sm font-semibold"
                    >Careers</a>
                </li>
                <li>
                  <a href="#" class="text-gray-700 text-sm font-semibold"
                    >Our People</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="flex justify-center md:justify-end mt-8 space-x-4">
            <a href="#" class="text-teal-600"
              ><i class="fab fa-twitter fa-lg"></i></a
            >
            <a href="#" class="text-teal-600"
              ><i class="fab fa-facebook-f fa-lg"></i></a
            >
            <a href="#" class="text-teal-600"
              ><i class="fab fa-youtube fa-lg"></i></a
            >
            <a href="#" class="text-teal-600"
              ><i class="fab fa-instagram fa-lg"></i></a
            >
          </div>
        </div>
      </div>

      <div class="">
        <div class="container mx-auto"></div>
      </div>
      <div class="bg-gray-200">
        <div
          class="container mx-auto flex flex-col md:flex-row justify-center px-4 md:px-16 py-6 space-x-6"
        >
          <a href="" class="font-semibold text-sm">General Terms & Policies</a>
          <a href="" class="font-semibold text-sm">Corporate Responsibility</a>
          <a href="" class="font-semibold text-sm">Modern Slavery Statement</a>
          <a href="" class="font-semibold text-sm">Privacy Policy</a>
          <a href="" class="font-semibold text-sm">Website Terms of Use</a>
          <a href="" class="font-semibold text-sm">Sitemap</a>
        </div>
      </div>
      <div
        class="container mx-auto bg-novus-dark-green flex justify-center px-4 md:px-16 py-7"
      >
        <p class="text-white">© Copyright Novus-me</p>
      </div>
    </footer>

    <!-- Whatsapp icon -->
    <div class="fixed bottom-4 left-4 group">
      <a href="#" class="relative">
        <img src="/whatsapp.svg" alt="Icon" class="h-[50px] w-[50px]" />

        <!-- Ping effect on the top-right corner of the SVG -->
        <span
          class="absolute top-2 right-0 translate-x-1/2 -translate-y-1/2 flex h-3 w-3"
        >
          <span
            class="animate-ping absolute inline-flex h-full w-full rounded-full bg-sky-400 opacity-75"
          ></span>
          <span class="relative inline-flex rounded-full h-3 w-3 bg-sky-500"
          ></span>
        </span>

        <span
          class="absolute top-1/2 left-[calc(100%+0.5rem)] transform -translate-y-1/2 px-[14px] py-[3px] text-white text-[14px] bg-[#51E863] rounded-xl opacity-0 group-hover:opacity-100 transition-opacity duration-300 whitespace-nowrap"
        >
          WhatsApp Us
        </span>
      </a>
    </div>
  </body>
</html>
