---

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Novus-me</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: "Poppins", sans-serif;
      }
    </style>
  </head>

  <body class="bg-gray-50 text-gray-900">

    <!-- Navbar [START]-->
    <header class="w-screen fixed top-0 left-0 z-50">
      <div class="bg-novus-teal text-white">
        <div class="container mx-auto py-4 px-2">
          <p
            class="flex items-center justify-end text-base font-semibold hover:cursor-pointer"
          >
            <svg
              class="border-white border border-s-4 rounded-lg mr-2"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              width="22"
              height="22"
              color="#FFFFFF"
              fill="none"
            >
              <path
                d="M9.00005 6C9.00005 6 15 10.4189 15 12C15 13.5812 9 18 9 18"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
            CUSTOMER SUPPORT
          </p>
        </div>
      </div>

      <div class="bg-novus-dark-green text-white">
        <div
          class="container mx-auto flex justify-between items-center py-5 px-2"
        >
          <!-- Logo -->
          <div class="">
            <a href="#" class="text-3xl font-bold"> NOVUS-ME </a>
          </div>

          <!-- Navigation Links -->
          <nav class="hidden md:flex ml-6 space-x-9 items-center">
            <a href="#" class="hover:underline text-lg font-semibold">Home</a>
            <a href="#" class="hover:underline text-lg font-semibold"
              >Services & Solutions</a
            >
            <a href="#" class="hover:underline text-lg font-semibold"
              >Partners</a
            >
            <a href="#" class="hover:underline text-lg font-semibold">About</a>
            <a
              href="#"
              class="hover:underline text-lg px-6 py-3 rounded-full bg-white font-semibold text-[#044041]"
              >Contact Sales</a
            >
          </nav>

          <!-- Menu Icon [ mobile-view ]-->
          <div class="block md:hidden lg:hidden xl:hidden 2xl:hidden">
            <button class="relative group">
              <div
                class="relative flex overflow-hidden items-center justify-center rounded-full w-[50px] h-[50px] transform transition-all ring-0 ring-gray-300 hover:ring-8 group-focus:ring-4 ring-opacity-30 duration-200 shadow-md"
              >
                <div
                  class="flex flex-col justify-between w-[20px] h-[20px] transform transition-all duration-300 origin-center overflow-hidden"
                >
                  <div
                    class="bg-white h-[2px] w-7 transform transition-all duration-300 origin-left group-focus:rotate-[42deg]"
                  >
                  </div>
                  <div
                    class="bg-white h-[2px] w-1/2 rounded transform transition-all duration-300 group-focus:-translate-x-10"
                  >
                  </div>
                  <div
                    class="bg-white h-[2px] w-7 transform transition-all duration-300 origin-left group-focus:-rotate-[42deg]"
                  >
                  </div>
                </div>
              </div>
            </button>
          </div>
        </div>
      </div>
    </header>

    <!-- Navbar [END]-->

	<!-- <section class="pt-[calc(4rem+80px)] w-screen ">


	  </section> -->


	  <section class="bg-novus-teal pt-[calc(4rem+80px)]">
		<div class="container flex mx-auto relative overflow-hidden h-[700px]">
			<div class="relative flex flex-col-reverse lg:flex-row items-center mx-auto px-4 sm:px-6 lg:px-8 lg:py-24">
				<div class="lg:w-[40%] text-white">
					<h1 class="text-4xl font-bold tracking-wide sm:text-5xl leading-[10.75]">We are a leading provider of IT solutions and services</h1>
					<p class="mt-7 text-lg">People, partnership and passion are at the heart of our success and drive everything we do</p>
					<button class="mt-8 px-16 py-7 bg-teal-500 hover:bg-teal-500 text-xl text-novus-gray font-semibold rounded-full">CONTACT SALES</button>
				</div>
				<div class="lg:w-[60%]">
					<img src="https://placehold.co/600x400" alt="" class="lg:ml-auto">
				</div>
			</div>
		</div>
	  </section>



	  <!-- Why Novus section -->
	   <section class="container mx-auto mt-28">

		<div class="flex items-center justify-center">
			<div class="text-center max-w-[60rem] px-2 py-2">
				<h4 class="text-novus-light-green text-xl font-semibold">Why Novus-me</h4>
				<h2 class="text-novus-teal text-3xl md:text-4xl font-bold mt-7 leading-relaxed">
					We provide bespoke, innovative end-to-end technology solutions that help your business and organisation to succeed.
				</h2>
			</div>
		</div>

		<div class="lg:flex lg:items-center lg:space-x-12 w-full">
			<!-- Image Section -->
			<div class="lg:w-1/2">
				<img src="/customer-first.png" alt="customer-first-image" class="w-full">
			</div>
	
			<!-- Text Section -->
			<div class="mt-8 lg:mt-0 lg:w-1/2">
				<h2 class="text-teal-600 text-4xl font-semibold">Customer-first</h2>
				<p class="mt-9 text-novus-gray text-xl leading-relaxed">
					We pride ourselves on building and maintaining close relationships for the long term with our customers. 
					This dedication runs throughout every aspect of our organisation and our success is proven by our 97% customer satisfaction survey score.
				</p>
				<div class="mt-6">
					<a href="#" class="flex items-center text-lg mt-9 text-novus-gray font-normal">
						<svg
			  class="border-novus-light-green border border-s-4 rounded-lg mr-2"
			  xmlns="http://www.w3.org/2000/svg"
			  viewBox="0 0 24 24"
			  width="22"
			  height="22"
			  color="#21B685"
			  fill="none"
			>
			  <path
				d="M9.00005 6C9.00005 6 15 10.4189 15 12C15 13.5812 9 18 9 18"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"></path>
			</svg>
						MORE ABOUT OUR PHILOSOPHY
					</a>
				</div>
			</div>


		</div>


		<div class="lg:flex lg:items-center lg:space-x-12 w-full">
			
	
			<!-- Text Section -->
			<div class="mt-8 lg:mt-0 lg:w-1/2">
				<h2 class="text-teal-600 text-4xl font-semibold">World class partnerships</h2>
				<p class="mt-9 text-novus-gray text-xl leading-relaxed">
					We partner with over 50 of the best vendors from across the globe to provide our customers with the best solution to meet their needs.
				</p>
				<div class="mt-6">
					<a href="#" class="flex items-center text-lg mt-9 text-novus-gray font-normal">
						<svg
			  class="border-novus-light-green border border-s-4 rounded-lg mr-2"
			  xmlns="http://www.w3.org/2000/svg"
			  viewBox="0 0 24 24"
			  width="22"
			  height="22"
			  color="#21B685"
			  fill="none"
			>
			  <path
				d="M9.00005 6C9.00005 6 15 10.4189 15 12C15 13.5812 9 18 9 18"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"></path>
			</svg>
						MORE ABOUT OUR PARTNERS
					</a>
				</div>
			</div>

			<!-- Image Section -->
			<div class="lg:w-1/2">
				<img src="/world-class-partnership.png" alt="customer-first-image" class="w-full">
			</div>

			
		</div>


		<div class="lg:flex lg:items-center lg:space-x-12 w-full">
			<!-- Image Section -->
			<div class="lg:w-1/2">
				<img src="/single-point-of-purchase.png" alt="customer-first-image" class="w-full">
			</div>
	
			<!-- Text Section -->
			<div class="mt-8 lg:mt-0 lg:w-1/2">
				<h2 class="text-teal-600 text-4xl font-semibold">Single point of purchase</h2>
				<p class="mt-9 text-novus-gray text-xl leading-relaxed">
					Our extensive partnership network means we’re able to provide our customers with end to end solutions and tailored packages with ease, through a single point of purchase.
				</p>
				<div class="mt-6">
					<a href="#" class="flex items-center text-lg mt-9 text-novus-gray font-normal">
						<svg
			  class="border-novus-light-green border border-s-4 rounded-lg mr-2"
			  xmlns="http://www.w3.org/2000/svg"
			  viewBox="0 0 24 24"
			  width="22"
			  height="22"
			  color="#21B685"
			  fill="none"
			>
			  <path
				d="M9.00005 6C9.00005 6 15 10.4189 15 12C15 13.5812 9 18 9 18"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"></path>
			</svg>
						MORE ABOUT OUR SOLUTIONS AND SERVICES
					</a>
				</div>
			</div>


		</div>
		
	   </section>
	  


	



    

  </body>
</html>
